In [139]:
import pandas as pd
import numpy as np
import gc

In [140]:
df_events = pd.read_csv('./vi_data/events_train.csv')
df_purchases = pd.read_csv('./vi_data/purchases_train.csv')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Nápady

https://heartbeat.fritz.ai/recommender-systems-with-python-part-i-content-based-filtering-5df4940bd831
https://towardsdatascience.com/prototyping-a-recommender-system-step-by-step-part-1-knn-item-based-collaborative-filtering-637969614ea
https://www.youtube.com/watch?v=Ty3Ui_mQtxY

# Prehľad dát

In [141]:
df_events.head()

,customer_id,timestamp,event_type,product_id,title,category_name,price
0,204685f9-00f0-4a36-bab1-e0b74673c3b1,2019-07-01 00:00:01.101977 UTC,view_item,f130c542-d793-41d0-88f6-d1c52b4fe8f0,Michael Kors Nappa Leather Racer Jacket,NaN,747.49
1,552445a5-f41d-4b25-b479-4e776d9bee61,2019-07-01 00:00:01.901589 UTC,view_item,29db8f57-49bd-4108-a0bb-0d245278e999,Puma Woven Shorts Girls,NaN,11.92
2,fac01f48-a03a-41f2-acd5-b5f4e407d9c2,2019-07-01 00:00:08.954928 UTC,view_item,a90bddc4-8eb7-4c99-aa4f-2f2377c246a2,Trendyol Multi-colored Flywheel Detailed Swimwear,NaN,23.85
3,552445a5-f41d-4b25-b479-4e776d9bee61,2019-07-01 00:00:09.721589 UTC,view_item,600268e1-a2ba-4b1b-ab57-58c577412af0,Puma Woven Shorts Girls,NaN,11.92
4,bc59a341-040f-41ea-8f33-cc4a02c2d85d,2019-07-01 00:00:13.745257 UTC,view_item,b74e0b38-1efe-4d86-9718-952cc2580212,Women's dress ROXY NEW LEASEOFLIFE J KTDR,NaN,40.00

In [142]:
df_purchases.head()

,customer_id,timestamp,event_type,product_id,title,category_name,price
0,0d1b7397-7d3c-44c0-9efc-d38bf197828b,2019-07-01 00:05:54.308966 UTC,purchase_item,954f9f2c-d3ca-4236-ac9a-4ea7bcf09305,Trendyol Leopard print Bikini bottom,NaN,NaN
1,81ccae7e-e496-4997-a289-4669bf53f33e,2019-07-01 00:20:03.404186 UTC,purchase_item,75b281e5-8a16-42cb-9ae0-9a98db7a2c40,No Fear Reflect Shorts Mens,NaN,NaN
2,50777c55-8dd6-4309-a5ca-26e66c8a8279,2019-07-01 00:34:35.989935 UTC,purchase_item,0112dec8-47f5-4c2c-9109-571e2dbb6345,Trendyol Multicolor camisole Blouse,NaN,NaN
3,50777c55-8dd6-4309-a5ca-26e66c8a8279,2019-07-01 00:34:35.991935 UTC,purchase_item,0fa25a2d-2aa1-4397-82f1-5a64f3b1272d,Trendyol White High Waist Skinny Jeans,NaN,NaN
4,647d269f-b18f-4558-8653-93369d862ec9,2019-07-01 00:52:53.083698 UTC,purchase_item,81c01216-55a9-4588-a722-bccf0bf35fd5,Firetrap Lazer Polo Shirt,NaN,NaN

## Informácie o dátach

In [143]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14614385 entries, 0 to 14614384
Data columns (total 7 columns):
customer_id      object
timestamp        object
event_type       object
product_id       object
title            object
category_name    object
price            float64
dtypes: float64(1), object(6)
memory usage: 780.5+ MB

In [144]:
df_purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188712 entries, 0 to 188711
Data columns (total 7 columns):
customer_id      188712 non-null object
timestamp        188712 non-null object
event_type       188712 non-null object
product_id       188712 non-null object
title            188684 non-null object
category_name    143814 non-null object
price            143826 non-null float64
dtypes: float64(1), object(6)
memory usage: 10.1+ MB

# Predspracovanie dát

In [145]:
from sklearn import preprocessing

In [146]:
# spojenie dát
df = pd.concat([df_events, df_purchases])

del [[df_events, df_purchases]]
gc.collect()

1510

In [147]:
df.sort_values(by=['timestamp'], inplace=True, ascending=True)

In [148]:
df.drop(['price'], axis=1, inplace=True)

In [149]:
df['event_type'] = df['event_type'].replace({ 'view_item': 1, 'purchase_item': 2 })

## Zakódovanie idčiek

In [150]:
from sklearn import preprocessing

In [151]:
le_customer = preprocessing.LabelEncoder()
le_product = preprocessing.LabelEncoder()

df['customer_id'] = le_customer.fit_transform(df['customer_id'])
df['product_id'] = le_product.fit_transform(df['product_id'])

## Rozdelenie na trénovaciu a testovaciu zložku

In [152]:
from sklearn.model_selection import train_test_split

In [153]:
df_train, df_test = train_test_split(df, test_size=0.20, shuffle=False)

In [154]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11842477 entries, 0 to 11689792
Data columns (total 6 columns):
customer_id      int64
timestamp        object
event_type       int64
product_id       int64
title            object
category_name    object
dtypes: int64(3), object(3)
memory usage: 632.5+ MB

In [155]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2960620 entries, 11689793 to 14614384
Data columns (total 6 columns):
customer_id      int64
timestamp        object
event_type       int64
product_id       int64
title            object
category_name    object
dtypes: int64(3), object(3)
memory usage: 158.1+ MB

### Prehľad trénovacích a testovacích dát

In [156]:
df_test.head()

,customer_id,timestamp,event_type,product_id,title,category_name
11689793,1218557,2019-08-21 07:57:53.361388 UTC,1,26125,Trendyol Multi-colored Plisse Skirt,Women>Women's Clothing>Skirts>Midi skirts
11689794,545607,2019-08-21 07:57:53.372592 UTC,1,54241,"Trendyol He's The Only Color We Block, Swimsuit",Women>Women's Clothing>Swimmsuits & bikins>One...
11689795,881435,2019-08-21 07:57:53.532665 UTC,1,54376,Women's jacket NORTHFINDER EMMALINE,Women>Women's Clothing>Jackets & Coats>Quilted...
11689796,262051,2019-08-21 07:57:53.700887 UTC,1,27195,Men's t-shirt KILPI AREC-M,Men>Men Clothing>T-Shirts & Polo shirts>Short ...
11689797,2064097,2019-08-21 07:57:53.86051 UTC,1,104807,Made Of Emotion Woman's Dress M417 Navy Blue,Women>Women's Clothing>Dresses>Mini dress

In [157]:
df_train.head()

,customer_id,timestamp,event_type,product_id,title,category_name
0,279709,2019-07-01 00:00:01.101977 UTC,1,116557,Michael Kors Nappa Leather Racer Jacket,NaN
1,735927,2019-07-01 00:00:01.901589 UTC,1,20221,Puma Woven Shorts Girls,NaN
2,2166327,2019-07-01 00:00:08.954928 UTC,1,81561,Trendyol Multi-colored Flywheel Detailed Swimwear,NaN
3,735927,2019-07-01 00:00:09.721589 UTC,1,46573,Puma Woven Shorts Girls,NaN
4,1628326,2019-07-01 00:00:13.745257 UTC,1,88433,Women's dress ROXY NEW LEASEOFLIFE J KTDR,NaN

In [158]:
df_train

,customer_id,timestamp,event_type,product_id,title,category_name
0,279709,2019-07-01 00:00:01.101977 UTC,1,116557,Michael Kors Nappa Leather Racer Jacket,NaN
1,735927,2019-07-01 00:00:01.901589 UTC,1,20221,Puma Woven Shorts Girls,NaN
2,2166327,2019-07-01 00:00:08.954928 UTC,1,81561,Trendyol Multi-colored Flywheel Detailed Swimwear,NaN
3,735927,2019-07-01 00:00:09.721589 UTC,1,46573,Puma Woven Shorts Girls,NaN
4,1628326,2019-07-01 00:00:13.745257 UTC,1,88433,Women's dress ROXY NEW LEASEOFLIFE J KTDR,NaN
...,...,...,...,...,...,...
11689788,1026488,2019-08-21 07:57:52.709547 UTC,1,78066,Karrimor 3 in 1 Weathertite Jacket Ladies,Sports>Outdoor>Outdoor Clothing>Women's Outdoo...
11689789,2096704,2019-08-21 07:57:52.718063 UTC,1,110596,Lee Cooper Jimin Juniors Trainers,Women>Women's Footwear>Sneakers>Low sneakers
11689790,340302,2019-08-21 07:57:53.004127 UTC,1,93735,Trendyol Cinnamon Belted Dress,Women>Women's Clothing>Dresses>Midi dress
11689791,132705,2019-08-21 07:57:53.080232 UTC,1,70957,Troll LADY'S JACKET,Women>Women's Clothing>Jackets & Coats>Quilted...
11689792,161403,2019-08-21 07:57:53.257471 UTC,1,83723,Lonsdale 2 Stripe Jogging Pants Mens,Men>Men Clothing>Tracksuit>Tracksuit bottoms

# Tvorba sparse matrix

robím podla tohoto
https://towardsdatascience.com/prototyping-a-recommender-system-step-by-step-part-1-knn-item-based-collaborative-filtering-637969614ea

Ktorú sparse_matrix použiť:
https://cmdlinetips.com/2018/03/sparse-matrices-in-python-with-scipy/

In [159]:
from scipy.sparse import coo_matrix

In [160]:
# tvorba sparse matrix
mat_coo = coo_matrix(
    (
        np.array(df_train['event_type']), 
        (
            np.array(df_train['product_id']), 
            np.array(df_train['customer_id'])
        )
    )
)

In [161]:
mat_csr = mat_coo.tocsr(copy=False)

In [162]:
mat_csr.shape

(123837, 2211386)

# Nájdenie najpopulárnejších produktov

In [163]:
summed_event_type = df_train[['product_id', 'event_type']].groupby(['product_id']).sum().sort_values(by=['event_type'], ascending=False)

# Odporúčanie

In [164]:
import operator
from sklearn.neighbors import NearestNeighbors

In [165]:
# vytvorenie inštancie KNN
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)

# natrénovanie na trénovacích dátach
model_knn.fit(mat_csr)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [166]:
# funkcia, ktorá vráti odporúčania pre daného customera
def recommend(model_knn, customer_id, n_recos): 
    customer_id_inversed = le_customer.inverse_transform([customer_id])
    
    # produkty, s ktorými interagoval customer v teste
    interacted_products_test = list(dict.fromkeys(df_test[df_test['customer_id'] == customer_id]['product_id'].values))
    
    # 1. Nájdi všetky produkty, ktoré si zákazník pozrel/kúpil v train
    interacted_products_train = list(dict.fromkeys(df_train[df_train['customer_id'] == customer_id]['product_id'].values))
    
    # 2. Ak nema ziadne produkty v train, tak daj generické odporúčania a skonči
    if len(interacted_products_train) == 0:
        most_popular_products = list(summed_event_type.head(n_recos).reset_index()['product_id'])
        precision = calc_precision(
            most_popular_products,
            list(dict.fromkeys(interacted_products_test)) # odstrániť duplikáty z pola produktov pozretých v testovacej sade
        )
        return [], most_popular_products, precision

        
    # 3. Generovanie odporúčaní pomocou KNN
    # n_recos+1, pretože vždy vráti aj seba
    distances2D, indices2D = model_knn.kneighbors(mat_csr[interacted_products_train], n_neighbors=n_recos+1)
    
    
    # 4. Vytvorenie mapy s najmenšími vzdialenostami pre každý produkt
    index_distance_map = {}
    for distances, indices in zip(distances2D, indices2D):
        for distance, index in zip(distances[1:], indices[1:]): 
            if index in index_distance_map and index_distance_map[index] < distance:
                continue
            index_distance_map[index] = distance
            

    # 5. nájdi najlepších n (n_recos) výsledkov
    indices = []
    distances = []
    for _ in range(n_recos):
        index = min(index_distance_map.items(), key=operator.itemgetter(1))[0]
        indices.append(index)
        distances.append(index_distance_map[index])
        del index_distance_map[index]
    
        
    # 6. Výpočet precision
    precision = calc_precision(
        indices,
        list(dict.fromkeys(interacted_products_test)) # odstrániť duplikáty z pola produktov pozretých v testovacej sade
    )
    
    return distances, indices, precision

# Metriky

In [167]:
def calc_precision(predicted_item_ids, future_touched_item_ids):
    tp = list(intersection(predicted_item_ids, future_touched_item_ids))
    return (len(tp) / min(len(predicted_item_ids), len(future_touched_item_ids)))


def precision_at_k(r, k):
    """Score is precision @ k
    Relevance is binary (nonzero is relevant).
    >>> r = [0, 0, 1]
    >>> precision_at_k(r, 1)
    0.0
    >>> precision_at_k(r, 2)
    0.0
    >>> precision_at_k(r, 3)
    0.33333333333333331
    >>> precision_at_k(r, 4)
    Traceback (most recent call last):
        File "<stdin>", line 1, in ?
    ValueError: Relevance score length < k
    Args:
        r: Relevance scores (list or numpy) in rank order
            (first element is the first item)
    Returns:
        Precision @ k
    Raises:
        ValueError: len(r) must be >= k
    """
    assert k >= 1
    r = np.asarray(r)[:k] != 0
    if r.size != k:
        raise ValueError('Relevance score length < k')
    return np.mean(r)


def average_precision(r):
    """Score is average precision (area under PR curve)
    Relevance is binary (nonzero is relevant).
    >>> r = [1, 1, 0, 1, 0, 1, 0, 0, 0, 1]
    >>> delta_r = 1. / sum(r)
    >>> sum([sum(r[:x + 1]) / (x + 1.) * delta_r for x, y in enumerate(r) if y])
    0.7833333333333333
    >>> average_precision(r)
    0.78333333333333333
    Args:
        r: Relevance scores (list or numpy) in rank order
            (first element is the first item)
    Returns:
        Average precision
    """
    r = np.asarray(r) != 0
    out = [precision_at_k(r, k + 1) for k in range(r.size) if r[k]]
    if not out:
        return 0.
    return np.mean(out)


def mean_average_precision(rs):
    """Score is mean average precision
    Relevance is binary (nonzero is relevant).
    >>> rs = [[1, 1, 0, 1, 0, 1, 0, 0, 0, 1]]
    >>> mean_average_precision(rs)
    0.78333333333333333
    >>> rs = [[1, 1, 0, 1, 0, 1, 0, 0, 0, 1], [0]]
    >>> mean_average_precision(rs)
    0.39166666666666666
    Args:
        rs: Iterator of relevance scores (list or numpy) in rank order
            (first element is the first item)
    Returns:
        Mean average precision
    """
    return np.mean([average_precision(r) for r in rs])


def ndcg_at_k(r, k, method=0):
    """Score is normalized discounted cumulative gain (ndcg)
    Relevance is positive real values.  Can use binary
    as the previous methods.
    Example from
    http://www.stanford.edu/class/cs276/handouts/EvaluationNew-handout-6-per.pdf
    >>> r = [3, 2, 3, 0, 0, 1, 2, 2, 3, 0]
    >>> ndcg_at_k(r, 1)
    1.0
    >>> r = [2, 1, 2, 0]
    >>> ndcg_at_k(r, 4)
    0.9203032077642922
    >>> ndcg_at_k(r, 4, method=1)
    0.96519546960144276
    >>> ndcg_at_k([0], 1)
    0.0
    >>> ndcg_at_k([1], 2)
    1.0
    Args:
        r: Relevance scores (list or numpy) in rank order
            (first element is the first item)
        k: Number of results to consider
        method: If 0 then weights are [1.0, 1.0, 0.6309, 0.5, 0.4307, ...]
                If 1 then weights are [1.0, 0.6309, 0.5, 0.4307, ...]
    Returns:
        Normalized discounted cumulative gain
    """
    dcg_max = dcg_at_k(sorted(r, reverse=True), k, method)
    if not dcg_max:
        return 0.
    return dcg_at_k(r, k, method) / dcg_max


def intersection(lst1, lst2): 
    return list(set(lst1) & set(lst2))

In [171]:
# Náhodný výber customera z testovacej množiny
import random
random_customer = random.choice(df_test['customer_id'].values)

# všetci customeri z trénovacej množiny
customers_train = list(dict.fromkeys(df_train['customer_id'].values))
# všetci customeri z testovacej množiny
customers_test = list(dict.fromkeys(df_test['customer_id'].values))
# prienik test a train customerov
customers = intersection(customers_train, customers_test)

evaluate_for = 200

# Customeri s vysokou presnostou
# 1798323 80% !
# 1285013 70% !

# zober náhodných n
random_n_customers = random.sample(customers, evaluate_for)

overall_precision = 0
print(f'Total number of customers: {len(customers)}')
print(f'Evaluating for first {evaluate_for} customers.')

precisions = []
for idx in range(evaluate_for):
    distances, indices, precision = recommend(model_knn, customers[idx], 10)
    
    overall_precision = overall_precision + precision
    
    precisions.append(precision)
    
    if precision > 0:
        print(f'Cust. {idx + 1}.\t{customers[idx]}\t{round(precision * 100, 2)}%\t{indices}')
        
print(f'Overall precision is {overall_precision / evaluate_for}')

print(f'Precision@k:\t\t{precision_at_k(precisions, evaluate_for)}')
print(f'Mean average precision:\t{mean_average_precision([precisions])}')
# TODO: fix
print(f'Ndcg:\t\t{ndcg_at_k(precisions, evaluate_for)}')

Total number of customers: 177177
Evaluating for first 200 customers.
Cust. 21.	1572895	20.0%	[63415, 7521, 63388, 121145, 81520, 11362, 120503, 55936, 23920, 66112]
Cust. 23.	2097187	33.33%	[37252, 24618, 46937, 55611, 43477, 114711, 110913, 114671, 46853, 103183]
Cust. 27.	524332	25.0%	[14652, 87851, 119495, 12558, 19148, 110956, 31408, 38185, 41397, 96313]
Cust. 35.	2097219	100.0%	[7071, 61285, 81684, 107704, 66009, 92913, 15428, 24880, 19605, 2845]
Cust. 39.	1048649	10.0%	[67621, 112202, 58694, 27981, 8191, 78113, 100544, 100885, 87749, 103010]
Cust. 48.	524387	50.0%	[107239, 71663, 95239, 97619, 11024, 2465, 58303, 87984, 61605, 41895]
Cust. 57.	524400	100.0%	[113632, 72263, 2422, 40190, 93863, 25186, 110437, 97040, 8485, 20680]
Cust. 71.	1048722	100.0%	[93397, 32092, 76768, 88525, 14986, 99830, 7849, 102683, 43199, 78104]
Cust. 76.	2097304	28.57%	[3249, 35639, 61231, 109653, 17187, 37252, 15063, 37933, 101888, 55264]
Cust. 95.	180	16.67%	[19255, 35367, 101862, 71069, 96360, 89440, 45542, 86243, 32310, 18887]
Cust. 97.	1573047	25.0%	[77539, 118122, 116215, 93961, 25086, 57403, 83456, 82091, 64219, 13028]
Cust. 98.	1573054	66.67%	[62052, 112067, 14085, 31061, 83836, 118748, 66294, 43422, 115408, 29060]
Cust. 108.	524511	20.0%	[114025, 113838, 83089, 13499, 35427, 51588, 105548, 87812, 104624, 62944]
Cust. 110.	233	14.29%	[25276, 52757, 110172, 2328, 27309, 103190, 43899, 31572, 32440, 80325]
Cust. 124.	271	25.0%	[31013, 81041, 45512, 56197, 103936, 46682, 38570, 4513, 31887, 72645]
Cust. 136.	297	14.29%	[34642, 34601, 81725, 50572, 118903, 70896, 20891, 98211, 74831, 43780]
Cust. 143.	1048890	40.0%	[14132, 58483, 96761, 102502, 38988, 123268, 123, 66984, 1030, 123130]
Cust. 157.	1573208	33.33%	[35370, 12139, 66997, 11333, 19, 98056, 118107, 78398, 18809, 102582]
Cust. 162.	2097505	66.67%	[20349, 72893, 106487, 45172, 30237, 55914, 43721, 110080, 10841, 91165]
Cust. 169.	524653	20.0%	[30538, 75575, 115292, 116511, 40785, 53331, 55846, 52305, 57766, 91249]
Cust. 171.	1573231	100.0%	[24238, 20068, 11040, 103484, 36501, 97386, 100460, 114494, 24239, 97035]
Cust. 172.	2097521	20.0%	[18116, 34449, 56512, 83912, 24628, 89874, 59166, 108471, 117178, 97832]
Cust. 183.	1573260	50.0%	[72202, 31321, 107034, 115650, 4387, 28282, 47177, 52591, 90839, 57124]
Cust. 191.	524708	20.0%	[3075, 73575, 4132, 78652, 62934, 35413, 68222, 7575, 22087, 21621]
Cust. 193.	2097574	66.67%	[6903, 95017, 7472, 50503, 92740, 59293, 8952, 83367, 9716, 74740]
Overall precision is 0.053273809523809515
Precision@k:		0.125
Mean average precision:	0.11580787507707528

NameError: name 'dcg_at_k' is not defined

In [ ]:
df_train

In [ ]:
recommend(model_knn, 1798323, 10)