In [1]:
import pandas as pd
import numpy as np
import gc

In [2]:
df_events = pd.read_csv('./vi_data/events_train.csv')
df_purchases = pd.read_csv('./vi_data/purchases_train.csv')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Nápady

https://heartbeat.fritz.ai/recommender-systems-with-python-part-i-content-based-filtering-5df4940bd831
https://towardsdatascience.com/prototyping-a-recommender-system-step-by-step-part-1-knn-item-based-collaborative-filtering-637969614ea
https://www.youtube.com/watch?v=Ty3Ui_mQtxY

# Prehľad dát

In [3]:
df_events.head()

,customer_id,timestamp,event_type,product_id,title,category_name,price
0,204685f9-00f0-4a36-bab1-e0b74673c3b1,2019-07-01 00:00:01.101977 UTC,view_item,f130c542-d793-41d0-88f6-d1c52b4fe8f0,Michael Kors Nappa Leather Racer Jacket,NaN,747.49
1,552445a5-f41d-4b25-b479-4e776d9bee61,2019-07-01 00:00:01.901589 UTC,view_item,29db8f57-49bd-4108-a0bb-0d245278e999,Puma Woven Shorts Girls,NaN,11.92
2,fac01f48-a03a-41f2-acd5-b5f4e407d9c2,2019-07-01 00:00:08.954928 UTC,view_item,a90bddc4-8eb7-4c99-aa4f-2f2377c246a2,Trendyol Multi-colored Flywheel Detailed Swimwear,NaN,23.85
3,552445a5-f41d-4b25-b479-4e776d9bee61,2019-07-01 00:00:09.721589 UTC,view_item,600268e1-a2ba-4b1b-ab57-58c577412af0,Puma Woven Shorts Girls,NaN,11.92
4,bc59a341-040f-41ea-8f33-cc4a02c2d85d,2019-07-01 00:00:13.745257 UTC,view_item,b74e0b38-1efe-4d86-9718-952cc2580212,Women's dress ROXY NEW LEASEOFLIFE J KTDR,NaN,40.00

In [4]:
df_purchases.head()

,customer_id,timestamp,event_type,product_id,title,category_name,price
0,0d1b7397-7d3c-44c0-9efc-d38bf197828b,2019-07-01 00:05:54.308966 UTC,purchase_item,954f9f2c-d3ca-4236-ac9a-4ea7bcf09305,Trendyol Leopard print Bikini bottom,NaN,NaN
1,81ccae7e-e496-4997-a289-4669bf53f33e,2019-07-01 00:20:03.404186 UTC,purchase_item,75b281e5-8a16-42cb-9ae0-9a98db7a2c40,No Fear Reflect Shorts Mens,NaN,NaN
2,50777c55-8dd6-4309-a5ca-26e66c8a8279,2019-07-01 00:34:35.989935 UTC,purchase_item,0112dec8-47f5-4c2c-9109-571e2dbb6345,Trendyol Multicolor camisole Blouse,NaN,NaN
3,50777c55-8dd6-4309-a5ca-26e66c8a8279,2019-07-01 00:34:35.991935 UTC,purchase_item,0fa25a2d-2aa1-4397-82f1-5a64f3b1272d,Trendyol White High Waist Skinny Jeans,NaN,NaN
4,647d269f-b18f-4558-8653-93369d862ec9,2019-07-01 00:52:53.083698 UTC,purchase_item,81c01216-55a9-4588-a722-bccf0bf35fd5,Firetrap Lazer Polo Shirt,NaN,NaN

## Informácie o dátach

In [5]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14614385 entries, 0 to 14614384
Data columns (total 7 columns):
customer_id      object
timestamp        object
event_type       object
product_id       object
title            object
category_name    object
price            float64
dtypes: float64(1), object(6)
memory usage: 780.5+ MB

In [6]:
df_purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188712 entries, 0 to 188711
Data columns (total 7 columns):
customer_id      188712 non-null object
timestamp        188712 non-null object
event_type       188712 non-null object
product_id       188712 non-null object
title            188684 non-null object
category_name    143814 non-null object
price            143826 non-null float64
dtypes: float64(1), object(6)
memory usage: 10.1+ MB

# Predspracovanie dát

In [7]:
from sklearn import preprocessing

In [8]:
# spojenie dát
df = pd.concat([df_events, df_purchases])

del [[df_events, df_purchases]]
gc.collect()

0

In [9]:
df

,customer_id,timestamp,event_type,product_id,title,category_name,price
0,204685f9-00f0-4a36-bab1-e0b74673c3b1,2019-07-01 00:00:01.101977 UTC,view_item,f130c542-d793-41d0-88f6-d1c52b4fe8f0,Michael Kors Nappa Leather Racer Jacket,NaN,747.49
1,552445a5-f41d-4b25-b479-4e776d9bee61,2019-07-01 00:00:01.901589 UTC,view_item,29db8f57-49bd-4108-a0bb-0d245278e999,Puma Woven Shorts Girls,NaN,11.92
2,fac01f48-a03a-41f2-acd5-b5f4e407d9c2,2019-07-01 00:00:08.954928 UTC,view_item,a90bddc4-8eb7-4c99-aa4f-2f2377c246a2,Trendyol Multi-colored Flywheel Detailed Swimwear,NaN,23.85
3,552445a5-f41d-4b25-b479-4e776d9bee61,2019-07-01 00:00:09.721589 UTC,view_item,600268e1-a2ba-4b1b-ab57-58c577412af0,Puma Woven Shorts Girls,NaN,11.92
4,bc59a341-040f-41ea-8f33-cc4a02c2d85d,2019-07-01 00:00:13.745257 UTC,view_item,b74e0b38-1efe-4d86-9718-952cc2580212,Women's dress ROXY NEW LEASEOFLIFE J KTDR,NaN,40.00
...,...,...,...,...,...,...,...
188707,4546a0d6-8713-41d8-8916-005561232327,2019-08-31 23:57:50.043362 UTC,purchase_item,4331a44c-9547-432e-bb82-8b94bc155372,Golddigga Badge Swimsuit Ladies,Women>Women's Clothing>Swimmsuits & bikins>One...,29.97
188708,4546a0d6-8713-41d8-8916-005561232327,2019-08-31 23:58:56.566363 UTC,purchase_item,0e857bb8-7026-467e-8900-3f66a021385c,Firetrap Blackseal Cross Back Swim Suit,Women>Women's Clothing>Swimmsuits & bikins>One...,14.39
188709,4546a0d6-8713-41d8-8916-005561232327,2019-08-31 23:58:56.568363 UTC,purchase_item,4331a44c-9547-432e-bb82-8b94bc155372,Golddigga Badge Swimsuit Ladies,Women>Women's Clothing>Swimmsuits & bikins>One...,29.97
188710,4546a0d6-8713-41d8-8916-005561232327,2019-08-31 23:59:05.509363 UTC,purchase_item,0e857bb8-7026-467e-8900-3f66a021385c,Firetrap Blackseal Cross Back Swim Suit,Women>Women's Clothing>Swimmsuits & bikins>One...,14.39
188711,4546a0d6-8713-41d8-8916-005561232327,2019-08-31 23:59:05.511362 UTC,purchase_item,4331a44c-9547-432e-bb82-8b94bc155372,Golddigga Badge Swimsuit Ladies,Women>Women's Clothing>Swimmsuits & bikins>One...,29.97

In [10]:
df.sort_values(by=['timestamp'], inplace=True, ascending=True)

In [11]:
df.drop(['price'], axis=1, inplace=True)

In [12]:
df['event_type'] = df['event_type'].replace({ 'view_item': 1, 'purchase_item': 2 })

## Zakódovanie idčiek

In [13]:
from sklearn import preprocessing

In [14]:
le_customer = preprocessing.LabelEncoder()
le_product = preprocessing.LabelEncoder()

df['customer_id'] = le_customer.fit_transform(df['customer_id'])
df['product_id'] = le_product.fit_transform(df['product_id'])

## Rozdelenie na trénovaciu a testovaciu zložku

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
df_train, df_test = train_test_split(df, test_size=0.20, shuffle=False)

In [17]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11842477 entries, 0 to 11689792
Data columns (total 6 columns):
customer_id      int64
timestamp        object
event_type       int64
product_id       int64
title            object
category_name    object
dtypes: int64(3), object(3)
memory usage: 632.5+ MB

In [18]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2960620 entries, 11689793 to 14614384
Data columns (total 6 columns):
customer_id      int64
timestamp        object
event_type       int64
product_id       int64
title            object
category_name    object
dtypes: int64(3), object(3)
memory usage: 158.1+ MB

In [19]:
df_train['customer_id']

0            279709
1            735927
2           2166327
3            735927
4           1628326
             ...
11689788    1026488
11689789    2096704
11689790     340302
11689791     132705
11689792     161403
Name: customer_id, Length: 11842477, dtype: int64

### Prehľad trénovacích a testovacích dát

In [20]:
df_test.head()

,customer_id,timestamp,event_type,product_id,title,category_name
11689793,1218557,2019-08-21 07:57:53.361388 UTC,1,26125,Trendyol Multi-colored Plisse Skirt,Women>Women's Clothing>Skirts>Midi skirts
11689794,545607,2019-08-21 07:57:53.372592 UTC,1,54241,"Trendyol He's The Only Color We Block, Swimsuit",Women>Women's Clothing>Swimmsuits & bikins>One...
11689795,881435,2019-08-21 07:57:53.532665 UTC,1,54376,Women's jacket NORTHFINDER EMMALINE,Women>Women's Clothing>Jackets & Coats>Quilted...
11689796,262051,2019-08-21 07:57:53.700887 UTC,1,27195,Men's t-shirt KILPI AREC-M,Men>Men Clothing>T-Shirts & Polo shirts>Short ...
11689797,2064097,2019-08-21 07:57:53.86051 UTC,1,104807,Made Of Emotion Woman's Dress M417 Navy Blue,Women>Women's Clothing>Dresses>Mini dress

In [21]:
df_train.head()

,customer_id,timestamp,event_type,product_id,title,category_name
0,279709,2019-07-01 00:00:01.101977 UTC,1,116557,Michael Kors Nappa Leather Racer Jacket,NaN
1,735927,2019-07-01 00:00:01.901589 UTC,1,20221,Puma Woven Shorts Girls,NaN
2,2166327,2019-07-01 00:00:08.954928 UTC,1,81561,Trendyol Multi-colored Flywheel Detailed Swimwear,NaN
3,735927,2019-07-01 00:00:09.721589 UTC,1,46573,Puma Woven Shorts Girls,NaN
4,1628326,2019-07-01 00:00:13.745257 UTC,1,88433,Women's dress ROXY NEW LEASEOFLIFE J KTDR,NaN

# Tvorba sparse matrix

robím podla tohoto
https://towardsdatascience.com/prototyping-a-recommender-system-step-by-step-part-1-knn-item-based-collaborative-filtering-637969614ea

Ktorú sparse_matrix použiť:
https://cmdlinetips.com/2018/03/sparse-matrices-in-python-with-scipy/

In [22]:
from scipy.sparse import coo_matrix

In [23]:
# tvorba sparse matrix
mat_coo = coo_matrix(
    (
        np.array(df_train['event_type']), 
        (
            np.array(df_train['product_id']), 
            np.array(df_train['customer_id'])
        )
    )
)

In [24]:
mat_csr = mat_coo.tocsr(copy=False)

In [25]:
mat_csr.shape

(123837, 2211386)

# Odporúčanie

In [26]:
import operator
from sklearn.neighbors import NearestNeighbors

In [27]:
# vytvorenie inštancie KNN
model_knn_cosine = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)

# natrénovanie na trénovacích dátach
model_knn_cosine.fit(mat_csr)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [38]:
def recommend_to_customer(model_knn_cosine, customer_id, n_recos):
    distances, indices = recommend(model_knn_cosine, customer_id, n_recos)
    
    if len(distances) == 0 and len(indices) == 0:
        return
    
    customer_id_inversed = le_customer.inverse_transform([customer_id])
     
    interacted_items = df_test[df_test['customer_id'] == customer_id]['product_id'].values  
    precision = calc_precision(
        indices,
        list(dict.fromkeys(interacted_items)) # odstŕaniť duplikáty z pola produktov pozretých v testovacej sade
    )  
    
    if precision > 0:
        #print(f'Recommended items for customer "{customer_id_inversed[0]}" :')
        #for distance, index in zip(distances, indices):
        #    print(f'- item: {index} with distance {distance}.')

        #print('\n')
        print(f'Recommendation precision is - {precision} %.')
        

# funkcia, ktorá vráti odporúčania pre daného customera
def recommend(model_knn_cosine, customer_id, n_recos): 
    
    # 1. nájdi všetký produkty, ktoré si zákazník pozrel
    speciffic_customer = df_train['customer_id'] == customer_id
    interacted_items = df_train['event_type'] > 0
    interacted_products = df_train[speciffic_customer & interacted_items]['product_id'].values
    print(interacted_products)
    
    
    # 2. ak nema ziadne produkty v train, tak daj generické odporúčania a skonči
    pass
    if len(interacted_products) == 0:
        return [], []
    
    
    # 3. vygeneruj odporúčania pre každý produkt
    index_distance_map = {}
    for product_id in interacted_products:
        # n_recos+1, pretože vždy vráti aj seba 
        distances_tmp, indices_tmp = model_knn_cosine.kneighbors(mat_csr[product_id], n_neighbors=n_recos+1)
        
        for distance, index in zip(distances_tmp[0][1:], indices_tmp[0][1:]): 
            if index in index_distance_map and index_distance_map[index] < distance:
                continue
            index_distance_map[index] = distance
            

    # 4. nájdi najlepších n (n_recos) výsledkov
    indices = []
    distances = []
    for _ in range(n_recos):
        index = min(index_distance_map.items(), key=operator.itemgetter(1))[0]
        indices.append(index)
        distances.append(index_distance_map[index])
        del index_distance_map[index]
        
    
    # 6. namapuj vrátené najlepšie produkty na ich product_id
    # product_ids = le_product.inverse_transform(indices)
    
    
    return distances, indices

In [39]:
def calc_precision(predicted_item_ids, future_touched_item_ids):
    tp = intersection(predicted_item_ids, future_touched_item_ids);
    return (len(tp) / len(predicted_item_ids)) * 100


def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3

In [ ]:
# Náhodný výber customera z testovacej množiny
import random
random_customer = random.choice(df_test['customer_id'].values)

# zaujimavy customer - 2041466 - ec42177e-29ef-4b49-baaa-c20cbe0135d5
# 1307766 10%

for cst_id in df_test['customer_id'].values:
    recommend_to_customer(model_knn_cosine, cst_id, 10)

[116815  85357 109767  71528  18099  45134  91420  82260  85770  67414
  46136   9122   8562  96378 103733  18919   7483  85357  57860  85357
  58469  59476  87128  35797  87128  91420   7483  82260  73074  49786
 103733  18919  44046  18919  85770  87128  43869 101610  95276 105463
  65363 119655 119655 115718  14554  69190  87138  59476  42398 112840
 105438 113665  57446]
[111150 106210]
[103023  15770   1466  25857  66364  16653  54097  16653  19577  63815
  92770  63815  95456  36473 102063 110557  72006  57992  73697  21832]
[ 19189  18235  19189 118264  62752 118264  81520  81520  63415  63388
  81520  15814  32310  66368  85056  70299  85056  44684]
Recommendation precision is - 20.0 %.
[  5325 109767 103743  66236]
[ 83089  83089  13499  83089  13499  83089  83089 113838  83089 114025
  83089 113838  13499 106210  30200 106210  28755  89810  37846  62944]
[119901  79361  25166]
Recommendation precision is - 20.0 %.
[75776  7521 52622 22101 77705 12845 70713 22101 68867 68867 18021 62759]
[ 50081  90910  31123  30760  49322  30760  11656 109445  19029 109445
  19029 109445  19029 108715  76393  76576  76393 108715  63388  73715
  73715  79322  14610  17727  58446 112640  88981   6899  89995  61846
 118781  37599  90043  22150  89523  22150   4145  22150   4145  22150
  50501  68704  50501  38973  42903  46175  38973  46175  42903  38973
 119535  22301  83723 100307  22971  70680  83723  61477   2589  83723
   2589  83723   2589  83723   2589  61477  83723]
[ 18954 107761 113688]
[101490   5127  92642 101490  39985 101490  66410   1192   1192  90234
  90234   1192  98241 114780  52802  19062 112919  28635  28697  94055
 122545  44341  91203  49028 118616 114780  19062 114780 118616  49028
  91203  44341 122545  94055  28697  28635 112919  22138  28635  28163
  42873  29521  11587  52802  56186  91203  79809  11396  28697   1957
  18984  63879  46938  54006  44635  60170  17526  28635  69746  69746
  19062  52802  98625  18984  54006  28635  69746  11587  28635  28635
  11587  11587  28635  69746  11587  54006  28635  69746  11587]
[  4225   4641   4225  44972 102259  28471 102259  96237  63452  17179
 104624  18442  67418  80212  63134  80212  78787  67418  67554  18442
  93360   5009  28471 102259  90010   4225  92452 118744  94351 118744
  79703  77728 114814 114814  51588  93360   1843  80886  59850  51588
  50216  36378  28471   1843 110354  93360   3141   5009   1843  85228
  94826  90010   6172 108283   8493  39706 106696  80212  44804  80212
  85735  89900  85735 106696 108283 109461 104624  15510  67418  44804
  21674  63134 104624  60907 104624   6172 104624 104624 104624 104624
  20934  78519  79703   5346 122735  13887  93360  37846  59837  80886
  80886  17179 102259 109416  76588  13762  60907  18442 109416   5009
  80886  59270  48768  51588  59850  46016  16802  45487 119192 117036
  42259  79703  77218  76550  26787 106186    171 114051 102259 110354
   7041  55780 119821 122362 119821  79703  74114  75735   9660  83986
  57139  83986  79703 113451  74114  53355  38915  92198 105243 105243
  75735  50096  16222  26388  99220   1564  66381  56000  70031  39168
  39263  96909  99220  53164  38915 109177  33741  95359  96909  95484
   9824  82285   9623  54585  42102  93503 119738  93299   1945 120549
  11508  32398 113918   9111  66534 113918  47858  13668  10769  90938
  32398   7715  16413 123122  47163  86393  18482  74783  80677  21160
  37215  53718  45737  45737  54047  48875  79656  79656  67733   2320
  79656  79656  35265  88756  25343   6162  35265  65356  89051   6162
  89091 117572  95359  33741 106168 111838  67733  68941  10253  79656
  79656  79656  51588  96909 112202  89810  48875 114995  58694  89900
  80212 123735  60907  96237  51699 102259 120732 123735 121079  97191
  80212  12743  96237 121079  63452 121079  13499  20934  51699 102259
  18442  18442 123735]
[ 70573  29537  59747  54590  84972 119394  35486  25861  47120  46443
  52504   6021   6153  21406  31702  84698  18471  39260  99537 121273
  61209  80350  80350 114140  76584  16296  51451  49071   6021  36193
  70237  63143 117304   8427  72888  97463 100284]
[ 50081  90910  31123  30760  49322  30760  11656 109445  19029 109445
  19029 109445  19029 108715  76393  76576  76393 108715  63388  73715
  73715  79322  14610  17727  58446 112640  88981   6899  89995  61846
 118781  37599  90043  22150  89523  22150   4145  22150   4145  22150
  50501  68704  50501  38973  42903  46175  38973  46175  42903  38973
 119535  22301  83723 100307  22971  70680  83723  61477   2589  83723
   2589  83723   2589  83723   2589  61477  83723]
[109509 109509  16979  69903  80620 110836 110836 110836  69903  23611
  45308]
[ 28385  28385  28432  31711  46965  46965  52675 111507]
[112109 103900  63544   1899  11098  44386  39539  88507  87843  80598
  44386  63544  67590 110596  67590  35204  92096   7483  95237   2747
  77285   2747  12573  28022  35991  75623  50436  35980  85357  85357
  43344  58283 110572 115542   5683 115542 120830  70417  86781 118927
 100415 112549 100415 118927  18433  97687  50436  25854  57300  25854
 113727  72105  97739  32131  46361  32131  97739  95314  97739  72105
  97739 108743  63204  49676 101999  43085 101999  74476  17853  13026
  17853  91522  91522 100339 100385  26152 101999  63544  31130 108743
 108743 108743  97739  74967  97739  78880  97739 114574  97739  97739
  72105 113727  25854 101999  86941  18721  86941  25006  91522  29962
 123463  87544  87544   1805  95909   1538 106017  72279 101133  72279
   1805  86941  25584 108530 112728  36611  80616  36611  36611  80616
  36611  80616  36611 112728   6654  36611 108530 108530  94402  60788
  60788  63469  60788   6654  60788   6654  63469  60788   6654  60788
  60788  63469   6654  15433 115147  18556  39550 111535  39550  32571
   5683  96665]
[32310 31026 72794 65820 18887 18887 79637 18887  7706 57860 97500 72125
 33238 43883 36206   477 57860]
Recommendation precision is - 10.0 %.
[ 50081  90910  31123  30760  49322  30760  11656 109445  19029 109445
  19029 109445  19029 108715  76393  76576  76393 108715  63388  73715
  73715  79322  14610  17727  58446 112640  88981   6899  89995  61846
 118781  37599  90043  22150  89523  22150   4145  22150   4145  22150
  50501  68704  50501  38973  42903  46175  38973  46175  42903  38973
 119535  22301  83723 100307  22971  70680  83723  61477   2589  83723
   2589  83723   2589  83723   2589  61477  83723]
[ 55171 121241  55171 121241  55171  31644  33134 118746]
[26829]
[]
[ 91624  54480  54480  54480   6021  36197 107992  29310  82899  85019
  22912   6906  88834  47120  93532  54480  29537  53174  84698 111816
 111816  71601 111816  74565  74565 111816  71601 111816  54480  84698
 112707  93532  54480  84698  84698  84698  54480 111816  84698 111816
  54480  54480  54590 111816  71601 108380  71601  71601  93532  54480
  84698 115631  71601  71601  29433  51451  76584  71601 115631  24514
  26273  53678  89428  89428  89428  26273  53678  84698  53678  26273
  24514  86191  55352  55042  53678  24514]
[]
[ 72178 120221  84082 116318  15080   5217  54263  83073  59160  83073
  54263  17982  48174  48174  48174  81193 115271 113041  63555  61758
  13592  61758  95496  95160]
[107063  13460  75441   8128 106556 103834 122100  60416 106583 106556
 103834 106556   8128]
[ 54844  90851 113075  90851  54844  45761  91305  45761  91305  92506
  70500  56584 116175  39351  67117  45761  84355  67449  67117  22967
  96943  16114 104649  65988]
[ 83089  83089  13499  83089  13499  83089  83089 113838  83089 114025
  83089 113838  13499 106210  30200 106210  28755  89810  37846  62944]
[64671]
Recommendation precision is - 10.0 %.
[]
[ 50081  90910  31123  30760  49322  30760  11656 109445  19029 109445
  19029 109445  19029 108715  76393  76576  76393 108715  63388  73715
  73715  79322  14610  17727  58446 112640  88981   6899  89995  61846
 118781  37599  90043  22150  89523  22150   4145  22150   4145  22150
  50501  68704  50501  38973  42903  46175  38973  46175  42903  38973
 119535  22301  83723 100307  22971  70680  83723  61477   2589  83723
   2589  83723   2589  83723   2589  61477  83723]
[18790 46103 74268]
[ 53446  28553  28553  96347   4030  24027 115377  84841  78199  16624
  42183]

[]
[ 36378  36378  36378  54411  79703  47031  79703 114814  54411  36378
  69533  36378  28919  36378 112065  36378  69533  36378  70333  36378
  74968  36378  36378  36378  63452  46021  46722  36378  88731 112887
  80886 121047  52832  37846 105089  80886  47870  25626 112202 106210
  36378  33020  19019     41 115660     41 116194     41  56868     41
   1235     41  19019  77728  75569   5384 109416 103010  36378  44188
   9007  83398 109416  36378  58193  43638  27981   4225  25331  81668
  81668  27981]

## Maticová faktorizácia

https://github.com/SurhanZahid/Recommendation-System-Using-Matrix-Factorization/blob/master/Recommender%20System%20With%20Matrix%20Factorization%20.ipynb

In [ ]:
mat_csr.toarray()

In [ ]:
mat_csr.shape

In [ ]:
import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12, random_state=17)
matrix = SVD.fit_transform(mat_csr)
matrix.shape

In [ ]:
#corr = np.corrcoef(matrix)
corr.shape