In [1]:
import pandas as pd
import numpy as np
import gc

In [2]:
df_events = pd.read_csv('./vi_data/events_train.csv')
df_purchases = pd.read_csv('./vi_data/purchases_train.csv')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Nápady

https://heartbeat.fritz.ai/recommender-systems-with-python-part-i-content-based-filtering-5df4940bd831
https://towardsdatascience.com/prototyping-a-recommender-system-step-by-step-part-1-knn-item-based-collaborative-filtering-637969614ea
https://www.youtube.com/watch?v=Ty3Ui_mQtxY

# Prehľad dát

In [3]:
df_events.head()

,customer_id,timestamp,event_type,product_id,title,category_name,price
0,204685f9-00f0-4a36-bab1-e0b74673c3b1,2019-07-01 00:00:01.101977 UTC,view_item,f130c542-d793-41d0-88f6-d1c52b4fe8f0,Michael Kors Nappa Leather Racer Jacket,NaN,747.49
1,552445a5-f41d-4b25-b479-4e776d9bee61,2019-07-01 00:00:01.901589 UTC,view_item,29db8f57-49bd-4108-a0bb-0d245278e999,Puma Woven Shorts Girls,NaN,11.92
2,fac01f48-a03a-41f2-acd5-b5f4e407d9c2,2019-07-01 00:00:08.954928 UTC,view_item,a90bddc4-8eb7-4c99-aa4f-2f2377c246a2,Trendyol Multi-colored Flywheel Detailed Swimwear,NaN,23.85
3,552445a5-f41d-4b25-b479-4e776d9bee61,2019-07-01 00:00:09.721589 UTC,view_item,600268e1-a2ba-4b1b-ab57-58c577412af0,Puma Woven Shorts Girls,NaN,11.92
4,bc59a341-040f-41ea-8f33-cc4a02c2d85d,2019-07-01 00:00:13.745257 UTC,view_item,b74e0b38-1efe-4d86-9718-952cc2580212,Women's dress ROXY NEW LEASEOFLIFE J KTDR,NaN,40.00

In [4]:
df_purchases.head()

,customer_id,timestamp,event_type,product_id,title,category_name,price
0,0d1b7397-7d3c-44c0-9efc-d38bf197828b,2019-07-01 00:05:54.308966 UTC,purchase_item,954f9f2c-d3ca-4236-ac9a-4ea7bcf09305,Trendyol Leopard print Bikini bottom,NaN,NaN
1,81ccae7e-e496-4997-a289-4669bf53f33e,2019-07-01 00:20:03.404186 UTC,purchase_item,75b281e5-8a16-42cb-9ae0-9a98db7a2c40,No Fear Reflect Shorts Mens,NaN,NaN
2,50777c55-8dd6-4309-a5ca-26e66c8a8279,2019-07-01 00:34:35.989935 UTC,purchase_item,0112dec8-47f5-4c2c-9109-571e2dbb6345,Trendyol Multicolor camisole Blouse,NaN,NaN
3,50777c55-8dd6-4309-a5ca-26e66c8a8279,2019-07-01 00:34:35.991935 UTC,purchase_item,0fa25a2d-2aa1-4397-82f1-5a64f3b1272d,Trendyol White High Waist Skinny Jeans,NaN,NaN
4,647d269f-b18f-4558-8653-93369d862ec9,2019-07-01 00:52:53.083698 UTC,purchase_item,81c01216-55a9-4588-a722-bccf0bf35fd5,Firetrap Lazer Polo Shirt,NaN,NaN

## Informácie o dátach

In [5]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14614385 entries, 0 to 14614384
Data columns (total 7 columns):
customer_id      object
timestamp        object
event_type       object
product_id       object
title            object
category_name    object
price            float64
dtypes: float64(1), object(6)
memory usage: 780.5+ MB

In [6]:
df_purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188712 entries, 0 to 188711
Data columns (total 7 columns):
customer_id      188712 non-null object
timestamp        188712 non-null object
event_type       188712 non-null object
product_id       188712 non-null object
title            188684 non-null object
category_name    143814 non-null object
price            143826 non-null float64
dtypes: float64(1), object(6)
memory usage: 10.1+ MB

# Predspracovanie dát

In [7]:
from sklearn import preprocessing

In [8]:
# spojenie dát
df = pd.concat([df_events, df_purchases])

del [[df_events, df_purchases]]
gc.collect()

0

In [10]:
df.sort_values(by=['timestamp'], inplace=True, ascending=True)

In [11]:
df.drop(['price'], axis=1, inplace=True)

In [12]:
df['event_type'] = df['event_type'].replace({ 'view_item': 1, 'purchase_item': 2 })

## Zakódovanie idčiek

In [13]:
from sklearn import preprocessing

In [14]:
le_customer = preprocessing.LabelEncoder()
le_product = preprocessing.LabelEncoder()

df['customer_id'] = le_customer.fit_transform(df['customer_id'])
df['product_id'] = le_product.fit_transform(df['product_id'])

## Rozdelenie na trénovaciu a testovaciu zložku

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
df_train, df_test = train_test_split(df, test_size=0.20, shuffle=False)

In [17]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11842477 entries, 0 to 11689792
Data columns (total 6 columns):
customer_id      int64
timestamp        object
event_type       int64
product_id       int64
title            object
category_name    object
dtypes: int64(3), object(3)
memory usage: 632.5+ MB

In [18]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2960620 entries, 11689793 to 14614384
Data columns (total 6 columns):
customer_id      int64
timestamp        object
event_type       int64
product_id       int64
title            object
category_name    object
dtypes: int64(3), object(3)
memory usage: 158.1+ MB

### Prehľad trénovacích a testovacích dát

In [20]:
df_test.head()

,customer_id,timestamp,event_type,product_id,title,category_name
11689793,1218557,2019-08-21 07:57:53.361388 UTC,1,26125,Trendyol Multi-colored Plisse Skirt,Women>Women's Clothing>Skirts>Midi skirts
11689794,545607,2019-08-21 07:57:53.372592 UTC,1,54241,"Trendyol He's The Only Color We Block, Swimsuit",Women>Women's Clothing>Swimmsuits & bikins>One...
11689795,881435,2019-08-21 07:57:53.532665 UTC,1,54376,Women's jacket NORTHFINDER EMMALINE,Women>Women's Clothing>Jackets & Coats>Quilted...
11689796,262051,2019-08-21 07:57:53.700887 UTC,1,27195,Men's t-shirt KILPI AREC-M,Men>Men Clothing>T-Shirts & Polo shirts>Short ...
11689797,2064097,2019-08-21 07:57:53.86051 UTC,1,104807,Made Of Emotion Woman's Dress M417 Navy Blue,Women>Women's Clothing>Dresses>Mini dress

In [21]:
df_train.head()

,customer_id,timestamp,event_type,product_id,title,category_name
0,279709,2019-07-01 00:00:01.101977 UTC,1,116557,Michael Kors Nappa Leather Racer Jacket,NaN
1,735927,2019-07-01 00:00:01.901589 UTC,1,20221,Puma Woven Shorts Girls,NaN
2,2166327,2019-07-01 00:00:08.954928 UTC,1,81561,Trendyol Multi-colored Flywheel Detailed Swimwear,NaN
3,735927,2019-07-01 00:00:09.721589 UTC,1,46573,Puma Woven Shorts Girls,NaN
4,1628326,2019-07-01 00:00:13.745257 UTC,1,88433,Women's dress ROXY NEW LEASEOFLIFE J KTDR,NaN

# Tvorba sparse matrix

robím podla tohoto
https://towardsdatascience.com/prototyping-a-recommender-system-step-by-step-part-1-knn-item-based-collaborative-filtering-637969614ea

Ktorú sparse_matrix použiť:
https://cmdlinetips.com/2018/03/sparse-matrices-in-python-with-scipy/

In [22]:
from scipy.sparse import coo_matrix

In [23]:
# tvorba sparse matrix
mat_coo = coo_matrix(
    (
        np.array(df_train['event_type']), 
        (
            np.array(df_train['product_id']), 
            np.array(df_train['customer_id'])
        )
    )
)

In [24]:
mat_csr = mat_coo.tocsr(copy=False)

In [25]:
mat_csr.shape

(123837, 2211386)

# Odporúčanie

In [26]:
import operator
from sklearn.neighbors import NearestNeighbors

In [27]:
# vytvorenie inštancie KNN
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)

# natrénovanie na trénovacích dátach
model_knn.fit(mat_csr)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [60]:
# funkcia, ktorá vráti odporúčania pre daného customera
def recommend(model_knn, customer_id, n_recos): 
    customer_id_inversed = le_customer.inverse_transform([customer_id])
    
    # 1. Nájdi všetky produkty, ktoré si zákazník pozrel/kúpil v train
    interacted_products_train = df_train[df_train['customer_id'] == customer_id]['product_id'].values
    
    # 2. Ak nema ziadne produkty v train, tak daj generické odporúčania a skonči
    if len(interacted_products_train) == 0:
        return [], [], 0
        # TODO

        
    # 3. Generovanie odporúčaní pomocou KNN
    # n_recos+1, pretože vždy vráti aj seba
    distances2D, indices2D = model_knn.kneighbors(mat_csr[interacted_products_train], n_neighbors=n_recos+1)
    
    
    # 4. Vytvorenie mapy s najmenšími vzdialenostami pre každý produkt
    index_distance_map = {}
    for distances, indices in zip(distances2D, indices2D):
        for distance, index in zip(distances[1:], indices[1:]): 
            if index in index_distance_map and index_distance_map[index] < distance:
                continue
            index_distance_map[index] = distance
            

    # 5. nájdi najlepších n (n_recos) výsledkov
    indices = []
    distances = []
    for _ in range(n_recos):
        index = min(index_distance_map.items(), key=operator.itemgetter(1))[0]
        indices.append(index)
        distances.append(index_distance_map[index])
        del index_distance_map[index]
        

    interacted_products_test = df_test[df_test['customer_id'] == customer_id]['product_id'].values
        
    # 6. Výpočet precision
    precision = calc_precision(
        indices,
        list(dict.fromkeys(interacted_products_test)) # odstrániť duplikáty z pola produktov pozretých v testovacej sade
    )
    
    return distances, indices, precision

In [64]:
def calc_precision(predicted_item_ids, future_touched_item_ids):
    tp = intersection(predicted_item_ids, future_touched_item_ids)
    return (len(tp) / len(predicted_item_ids))


def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3

In [72]:
# Náhodný výber customera z testovacej množiny
import random
random_customer = random.choice(df_test['customer_id'].values)

# všetci customeri z testovacej množiny
customers = df_test['customer_id'].values

overall_precision = 0
print(f'Number of customers: {len(customers)}')
for idx in range(200):
    distances, indices, precision = recommend(model_knn, customers[idx], 10)
    
    overall_precision = overall_precision + precision
    
    if precision > 0:
        print(f'Cust. {idx + 1}.\t{customers[idx]}\t{precision * 100}%\t{indices}')
        
print(f'Overall precision is {overall_precision / 200}')

TypeError: object of type 'int' has no len()

## Maticová faktorizácia

https://github.com/SurhanZahid/Recommendation-System-Using-Matrix-Factorization/blob/master/Recommender%20System%20With%20Matrix%20Factorization%20.ipynb

In [ ]:
mat_csr.toarray()

In [ ]:
mat_csr.shape

In [ ]:
import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12, random_state=17)
matrix = SVD.fit_transform(mat_csr)
matrix.shape

In [ ]:
#corr = np.corrcoef(matrix)
corr.shape